.checkbox {
    width: 9vw;
    height: 7vh;
}

.checkbox>.line-container {
    width: 9vw;
    height: 7vh;
}

.checkbox>.knob {
    width: calc(9vw / 2);
    height: 7vh;
}

.checked>.checkbox>.knob {
    background-color: white;
    margin-left: 4.5vw;
}

.notes-button {
    width: 3vw;
}

.notes.hidden {
    left: -89vw;
}