@font-face {
  font-family: regular;
  src: url(../fonts/Dosis-Regular.ttf);
}

@font-face {
  font-family: d_light;
  src: url(../fonts/Dosis-Light.ttf);
}

.vertLayout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  width: 68vw;
  height: 7vh;
  background-color: #a71034;
  color: white;
  border: 0;
  border-radius: 5px;
  font-family: regular;
  font-size: 1.2em;
}

body {
  background-color: #212229;
}

.inField {
  font-family: regular;
}

.inField > span {
  font-family: d_light;
}

.header {

}

.header > div {
    z-index: -1;
}
