.large-section {
    margin-top: 13vh;
}

.button {
    margin-top: 7vh;
}

.trash {
    position: absolute;
    bottom: 4.5vh;
    left: 3vw;
    cursor: pointer;
}

.back {
    position: absolute;
    bottom: 12.5vh;
    left: 3vw;
    cursor: pointer;
}

#save {
    margin-top: 1vh;
}