.large-section {
    margin-top: 13vh;
}

.inField>input {
    width: 80vw;
}

.inField {
    margin-top: 2vh;
    
}
input[type=number] {
    -moz-appearance: textfield;
  }

.toggles {
    margin-top: 10vh;
    width: 80%;
}

.button {
    margin-top: 10vh;
}

span {
    font-family: regular;
    color: white;
    font-size: 2em;
}

.preload {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.preload .line {
    background-color: white;
    width: 120%;
    height: 0.5vh;
    margin: 0.5vh 0 0.5vh 0;
    border-radius: 100px;
}

.back {
    position: absolute;
    bottom: 5.5vh;
    left: 3vw;
    cursor: pointer;
}

.sliderbackground{
    width: 100%; 
    transform: rotate(90deg);
    background-position-x: center;
    position: relative;
    right: 30px;
    top: 90px;
    

}
    

.slidecontainer {
    width: 100%; 
  }
  
  .slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 129px; 
    height: 44x; 
    transform: rotate(90deg);
    background-size: 50;
    position: relative;
    left: 5px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    opacity: 1; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
    
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    background-image: url('../assets/imgs/sliderdot.png');
    background-size: 150px 150px;
    background-attachment: scroll;
    background-color: transparent;
    appearance: none;
}