.large-section {
    margin-top: 13vh;
}

.inField>input {
    width: 80vw;
}

.inField {
    margin-top: 2vh;
}

.toggles {
    margin-top: 10vh;
    width: 80%;
}

.button {
    margin-top: 10vh;
}

span {
    font-family: regular;
    color: white;
    font-size: 2em;
}

.preload {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.preload .line {
    background-color: white;
    width: 120%;
    height: 0.5vh;
    margin: 0.5vh 0 0.5vh 0;
    border-radius: 100px;
}

.back {
    position: absolute;
    bottom: 5.5vh;
    left: 3vw;
    cursor: pointer;
}




.slidecontainer {
    width: 100%;
}


.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 30%;
    /* This is height */
    height: 25px;
    /* This is width*/
    transform: rotate(90deg);
    background: #d3d3d3;
    outline: none;
    opacity: 0.3;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: url('sliderdot.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    background: url('sliderdot.png');
    cursor: pointer;
    /* Cursor on hover */
}

.wifi-rec {
    display: none;
}