.logo {
    width: 100%;
}

.start {
    margin-top: 50%;
}

.icon {
    bottom: 3vw;
    position: absolute;
    width: 10vw;
}

#source {
    left: 3vw;
}

#feedback {
    right: 3vw;
}

.wifi_req {
    margin-top: 15vh;
    gap: 2vh;
}

span {
    font-family: regular;
    color: white;
    font-size: 1.75em;
}