@font-face {
  font-family: regular;
  src: url(../assets/fonts/Dosis-Regular.ttf);
}

@font-face {
  font-family: d_light;
  src: url(../assets/fonts/Dosis-Light.ttf);
}

.vertLayout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  width: 68vw;
  height: 7vh;
  background-color: #a71034;
  color: white;
  border: 0;
  border-radius: 5px;
  font-family: regular;
  font-size: 2.2em;
}

body {
  background-color: #212229;
}

.inField {
  font-family: regular;
}

.inField > span {
  font-family: d_light;
}

.header {
  position:absolute;
  top: -2vh;
  left:0;
  width:100%;
  height: 10vh;
  background-color: #3A3E44;
  text-align: center;
  font-family: regular;
  color: white;
  border-radius: 30px ;
}

.header > div {
  z-index: -1;
  width: 15vh;
  height: 7.5vh;
  position: inherit;
  top: 5vh;
  border-radius: 20px;
}

.header > h1 {
  padding-top: 1vh;
  font-size: 3em;
}

#red {
  background: #CD3636;
  left: 8vw;
}

#blue {
  background: #3673CD;
  right: 8vw;
}